In [88]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, f1_score, recall_score,precision_score, classification_report, confusion_matrix
import collections
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import precision_recall_curve, roc_curve
from sklearn.multiclass import OneVsRestClassifier
from sklearn.preprocessing import label_binarize

np.random.seed(1337)  # for reproducibility

In [39]:
test_set_file = 'S11_testset_P24_all.xls'

In [40]:
n=list(range(1,43))
n.append('class')
df_test = pd.read_excel(test_set_file,header=None,names=n)

In [41]:
df_test.shape

(18912, 43)

In [42]:
df_test.columns

Index([      1,       2,       3,       4,       5,       6,       7,       8,
             9,      10,      11,      12,      13,      14,      15,      16,
            17,      18,      19,      20,      21,      22,      23,      24,
            25,      26,      27,      28,      29,      30,      31,      32,
            33,      34,      35,      36,      37,      38,      39,      40,
            41,      42, 'class'],
      dtype='object')

In [48]:
df1=df_test[df_test['class']==1]

In [49]:
df1.shape

(2364, 43)

In [51]:
df1=df1[0:1521]

In [52]:
df1.shape

(1521, 43)

In [53]:
df2=df_test[df_test['class']==2]

df2=df2[0:1521]

In [54]:
df3=df_test[df_test['class']==3]

df3=df3[0:1521]

In [55]:
df4=df_test[df_test['class']==4]

df4=df4[0:1521]

In [56]:
df5=df_test[df_test['class']==5]

df5=df5[0:1521]

In [57]:
df6=df_test[df_test['class']==6]

df6=df6[0:1521]

In [58]:
df7=df_test[df_test['class']==7]

df7=df7[0:1521]

In [59]:
df8=df_test[df_test['class']==8]

df8=df8[0:1521]

In [75]:
df=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8])

In [76]:
df.shape

(12168, 43)

In [77]:
df.columns

Index([      1,       2,       3,       4,       5,       6,       7,       8,
             9,      10,      11,      12,      13,      14,      15,      16,
            17,      18,      19,      20,      21,      22,      23,      24,
            25,      26,      27,      28,      29,      30,      31,      32,
            33,      34,      35,      36,      37,      38,      39,      40,
            41,      42, 'class'],
      dtype='object')

In [78]:
df['class'].value_counts()

7    1521
6    1521
5    1521
4    1521
3    1521
2    1521
1    1521
8    1521
Name: class, dtype: int64

In [87]:
df.to_excel("S11_test_data.xls",header=None,index=False)

In [85]:
df.shape

(12168, 43)