In [396]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, f1_score, recall_score,precision_score, classification_report, confusion_matrix
import collections
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import precision_recall_curve, roc_curve
from sklearn.multiclass import OneVsRestClassifier
from sklearn.preprocessing import label_binarize

np.random.seed(1337)  # for reproducibility

In [397]:

def load_dataset(file):
    
    df = pd.read_excel(file,header=None)
    
    df=df.sample(frac=1)

    X, Y = format_data(df)

    return X, Y


def format_data(df):
    
    X = np.array(df.drop(df.columns[-1], 1))


    Y = np.array(df[df.columns[-1]])

    
    Y=Y-1

    return X,Y

In [398]:
train_set_file = 'cttd/S1/train135_test24/trainset_P135_all.xls'

In [399]:
X_train, Y_train = load_dataset(train_set_file)

In [400]:
np.save('X_train', X_train) 

np.save('Y_train', Y_train)

In [401]:
print(X_train.shape)
print(Y_train.shape)

(37968, 42)
(37968,)

In [402]:
test_set2_file = 'cttd/S1/testset_P12345_20.xls'

In [403]:
X_test2, Y_test2 = load_dataset(test_set2_file)

In [404]:
np.save('X_test2', X_test2) 

np.save('Y_test2', Y_test2)

In [405]:
print(X_test2.shape)
print(Y_test2.shape)

(7040, 42)
(7040,)

In [406]:
test_set1_file = 'cttd/S1/train135_test24/testset_P24_all.xls'

In [407]:
n=list(range(1,43))
n.append('class')
df_test = pd.read_excel(test_set1_file,header=None,names=n)

In [408]:
df_test.shape

(18912, 43)

In [409]:
df_test.columns

Index([      1,       2,       3,       4,       5,       6,       7,       8,
             9,      10,      11,      12,      13,      14,      15,      16,
            17,      18,      19,      20,      21,      22,      23,      24,
            25,      26,      27,      28,      29,      30,      31,      32,
            33,      34,      35,      36,      37,      38,      39,      40,
            41,      42, 'class'],
      dtype='object')

In [410]:
df1=df_test[df_test['class']==1]

In [411]:
df1.shape

(2364, 43)

In [412]:
df1=df1[0:1521]

In [413]:
df1.shape

(1521, 43)

In [414]:
df2=df_test[df_test['class']==2]

df2=df2[0:1521]

In [415]:
df3=df_test[df_test['class']==3]

df3=df3[0:1521]

In [416]:
df4=df_test[df_test['class']==4]

df4=df4[0:1521]

In [417]:
df5=df_test[df_test['class']==5]

df5=df5[0:1521]

In [418]:
df6=df_test[df_test['class']==6]

df6=df6[0:1521]

In [419]:
df7=df_test[df_test['class']==7]

df7=df7[0:1521]

In [420]:
df8=df_test[df_test['class']==8]

df8=df8[0:1521]

In [421]:
df=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8])

In [422]:
df.shape

(12168, 43)

In [423]:
df['class'].value_counts()

7    1521
6    1521
5    1521
4    1521
3    1521
2    1521
1    1521
8    1521
Name: class, dtype: int64

In [424]:
df=df.sample(frac=1)

X, Y = format_data(df)

In [425]:
np.save('X_test', X) 

np.save('Y_test', Y)

In [426]:
X_train = np.load('X_train.npy') 

Y_train = np.load('Y_train.npy')

X_test = np.load('X_test.npy')

Y_test = np.load('Y_test.npy')

X_test2 = np.load('X_test2.npy')

Y_test2 = np.load('Y_test2.npy')

In [427]:
print(X_train.shape)
print(Y_train.shape)

print(X_test.shape)
print(Y_test.shape)


print(X_test2.shape)
print(Y_test2.shape)

(37968, 42)
(37968,)
(12168, 42)
(12168,)
(7040, 42)
(7040,)